:root {
  --primary-font: "Poppins", sans-serif;

  --border-radius: 15px 15px;
  --accent-font: "Montserrat", sans-serif;
  --widget-background: linear-gradient(
    115deg,
    rgb(224, 246, 255) 0%,
    rgb(237, 245, 253) 46%,
    rgb(255, 254, 229) 97%
  );
}
body {
  font-family: var(--primary-font);
  background: linear-gradient(
    115deg,
    rgb(248, 250, 251) 0%,
    rgb(240, 241, 243) 45%,
    rgb(251, 251, 248) 95%
  );
}
.worldClockTitle {
  font-size: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.widgetPadding,
.bigWidgetPadding {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  display: block;
  margin: 6px auto;
  max-width: 500px;
}
.bigWidgetPadding {
  max-width: 500px;
}
.topRow,
.row {
  margin-left: 12px;
  margin-right: 12px;
}
.contentOfEachWidget {
  padding: 15px;
}
.cityName {
  font-family: var(--accent-font);
  font-size: 20px;
  color: rgba(163, 163, 163, 0.932);
  display: flex;
  justify-content: flex-start;
}
.userCityName {
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.userTimeDisplayText {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 500;
}
.timeDisplayText {
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.dateDisplayText {
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: rgba(163, 163, 163, 0.853);
}
.timeOffsetwidget {
  display: flex;
  justify-content: flex-end;
}
.timeDifferenceDisplayText {
  display: flex;
  justify-content: center;
  padding: 6px;
  background: white;
  border-radius: 50px;
  opacity: 0.7;
}
form {
  display: flex;
  justify-content: flex-end;
}
.formWidget {
  border-radius: 50px;
  font-size: 12px;
  background: linear-gradient(
    115deg,
    rgb(248, 250, 251) 0%,
    rgb(240, 241, 243) 45%,
    rgb(251, 251, 248) 95%
  );
  opacity: 0.7;
  border-width: 0;
}
.footer {
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}
@media (max-width: 576px) {
  form,
  .cityName {
    justify-content: center;
  }
}
@media (max-width: 279px) {
  #userCurrentTime {
    font-size: 49px;
  }
  .cityName {
    font-size: 17px;
  }
  .timeDisplayText {
    font-size: 38px;
  }
  .timeOffsetwidget {
    display: none;
  }
}
